# Environment file
.env

# Conda environement directory and subfolders
conda_env/

# Output folder for the main.py script
output/

# Log files
logs/

# Debug folder
debug/

# Testing folder
testing/

# Files
.DS_Store